.external.style
{
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.odd
{
    background-color: rgb(252, 167, 181);
    font-family: Verdana, DejaVu Sans, Sans-serif;
}

.odd.three
{
    font-size: 24px;
    font-weight: bold;
}

#two
{
    color: blue;
    font-size: 36px;
}

#four
{
    background-color: rgb(2, 185, 2);
    font-size: 24px;
    font-weight: bold;
}